.price{
    font-weight: bolder;
}

#main{
    background-color: rgb(242, 242, 217);
}

.card{
    border: none;
    border-radius: 0;
}

.card:hover{
    /* border: 2px solid black; */
    box-shadow: 1px 1px 10px;
}

img{
    width: 20vw;
    height: 25vh;
}

#search-bar{
    height: 90vh;
    background-image: url('/assets/bg2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

.large{
    font-size: 3vw;
}

.small{
    font-size: 2vw;
}

#search-bar-div{
    height: 15vh;
    background-color: black;
    z-index: 1;
    font-size: 1.5vw;
}

#search-bar-div input{
    margin: 1vw;
    text-align: center;
    width: 18vw;
}